<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
    <!-- Remove this line the first time you edit this file -->
     <strong>Dealership Review</strong>
     <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="about">about</a>
                  <a class="navbar-brand" href="contact">contact</a>
                  <label for="user">username:</label>
                  <input type="user" id="user" name="user">
                  <label for="user">password:</label>
                  <input type="password id="passowrd" name="password">
                  <button type="button">sign in</button>
                  <button type="button">sign up</button>
                  {% if user.is_authenticated %}
                  <p>Username: {{user.username}}, First name: {{user.first_name}}, Last name: {{user.last_name}} </p>
                  {% endif %}
                  {% if user.is_authenticated %}
<div class="rightalign">
       <div class="dropdown">
           <button class="dropbtn">{{user.first_name}}</button>
           <div class="dropdown-content">
                <a href="{% url '
                djangoapp:logout' %}">Logout</a>
           </div>
       </div>
</div>
{% endif %}

                
            </div>
        </div>
    </nav>
 

    <!--Add a nav bar here -->

    <!--Add a dealer table here -->

    </body>
 

</html>
